/* Global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #0f0826;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}

.brand {
  width: 50%;
  padding-left: 20px;
}

.navigation {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
}

/* Hero Section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 70px 0;
}

.hero-content {
  width: 40%;
}

.hero-content h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 700;
}

.hero-content span {
  color: #21e1ce;
}
.hero-content p {
  color: #fff;
  margin-bottom: 20px;
}

.hero-btn {
  color: #fff;
  font-weight: 500;
  background: linear-gradient(1.09deg, #6e1fea -11.78%, #4289ff 198.26%);
  border: none;
  font-size: 16px;
  padding: 18px 30px;
  border-radius: 8px;
  cursor: pointer;
}

.hero-image {
  width: 40%;
}

/* App Overview */
.app-overview {
  background: #211548;
  border-radius: 16px;
  padding: 25px 15px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 150px 0;
}

.overview-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.overview-item h3 {
  font-size: 28px;
  font-weight: 500;
}

/* Best App Area */
.best-app-areas {
  width: 100%;
}

.title {
  font-size: 3.5rem;
}
